.details {
  border-radius: 8px;
  position: relative;

  summary {
    color: #424242;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    padding: 10px;

    &:before {
      right: 0.3em;
      color: transparent;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=) no-repeat 50% 50% / 1em 1em;
      width: 1em;
      height: 1em;
      content: "";
      position: absolute;
      transition: transform .5s;
      display: flex;
      align-items: center;
      padding: 13px;
    }
  }
}

.content {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;

  p {
    color: #424242;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}