.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  border-radius: 12px;

  h3 {
    color: #242424;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.date {
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}